
.BuildControl{
    width: 100%;
    background-color: #2b3d54;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding:  10px 0;
}

.BuildControl p {
    color: white;
}

.OrderButton {
    background-color: #60a65f;
    outline: none;
    cursor: pointer;
    border: 1px solid #60a65f;
    color: white;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    box-shadow: 2px 2px 2px #60a65f;
}

.OrderButton:hover, .OrderButton:active {
    background-color: #75cf73;
    border: 1px solid #75cf73;
    color: white;
}

.OrderButton:disabled {
    background-color: #437542;
    box-shadow: none;
    cursor: not-allowed;
    border: none;
    color: white;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
