.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

/* .Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
} */

.Success {
    color: rgb(126, 204, 18);
}

.Danger {
    color: #cf0f0f;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}